@model SimpleBlog.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <section>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
    </section>
    <section>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </section>
    <section>
        <input type="submit" value="Login" />
    </section>
    
}
